body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: #111111;
  
}

h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
  font-family: "Poppins";
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}
/* seleciona sรณ os elementos src que termina com .jpg */
img[src$=".jpg"] {
  border-radius: 4px;
}
